.toggle {
    display: flex;
    width: 58px;
    padding: 4px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 999px;
    border: 1px solid var(--semantic-bg-neutral-inverse, #E6E7E9);
    background: var(--semantic-bg-secondary, #FFF);
    cursor: pointer;
}

.iconContainer {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;

}

.toggleTrue {
    .trueIcon {
        background-color: var(--semantic-bg-tertiary, #F3F4F6);
    }

    .falseIcon {
        background-color: transparent;
    }
}

.toggleFalse {
    .falseIcon {
        background-color: var(--semantic-bg-tertiary, #F3F4F6);
    }

    .trueIcon {
        background-color: transparent;
    }
}


@media (max-width: 600px) {
    .toggle {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 4px;
        justify-content: center;
        align-items: center;
        gap: 2px;
        flex-shrink: 0;
        border-radius: 999px;
        border: 1px solid var(--semantic-bg-neutral-inverse, #E6E7E9);
        background: var(--semantic-bg-secondary, #FFF);

        &:active {
            background-color: var(--semantic-bg-tertiary, #F3F4F6);
        }
    }

    .toggleTrue {
        .trueIcon {
            display: block;
            background: transparent;
        }

        .falseIcon {
            display: none;
        }
    }

    .toggleFalse {
        .falseIcon {
            display: block;
            background: transparent;
        }

        .trueIcon {
            display: none;
        }
    }

}