.row {
    display: flex;
    max-width: 1203px;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--semantic-fg-neutral-secondary, #E6E7E9);
    background: var(--semantic-bg-secondary, #FFF);
}

.cell {
    display: flex;
    min-width: 224px;
    padding-right: 24px;
    align-items: flex-start;
    flex: 1 0 0;

    align-items: center;
    gap: 8px;

    color: var(--text-primary, rgba(0, 0, 0, 0.87));
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    letter-spacing: 0.17px;
}