 $avatar-sizes: (
     xxxs: 16px,
     xxs: 20px,
     xs: 24px,
     sm: 32px,
     md: 40px,
     lg: 52px,
     xl: 64px,
     xxl: 80px,
     xxxl: 96px
 );

 $initials-format: (
     xxxs: (font-size: 8px, font-weight: 400, line-height: 12px, letter-spacing: -0.25px),
     xxs: (font-size: 10px, font-weight: 400, line-height: 14px, letter-spacing: -0.25px),
     xs: (font-size: 12px, font-weight: 400, line-height: 16px, letter-spacing: -0.25px),
     sm: (font-size: 12px, font-weight: 400, line-height: 16px, letter-spacing: -0.25px),
     md: (font-size: 16px, font-weight: 400, line-height: 20px, letter-spacing: -0.5px),
     lg: (font-size: 24px, font-weight: 700, line-height: 32px, letter-spacing: -0.75px),
     xl: (font-size: 32px, font-weight: 700, line-height: 40px, letter-spacing: -1px),
     xxl: (font-size: 32px, font-weight: 700, line-height: 40px, letter-spacing: -1px),
     xxxl: (font-size: 40px, font-weight: 500, line-height: 48px, letter-spacing: auto)
 );

 .avatarWrapper {
     display: inline-flex;
     align-items: flex-start;
     gap: 8px;
     overflow: hidden;

     @each $size-name, $size in $avatar-sizes {
         &--#{$size-name} {
             width: $size;
             height: $size;
             border-radius: calc($size / 2);
         }
     }

     .avatarIcon {
         background-color: var(--semantic-bg-neutral-secondary, rgba(44, 45, 48, 0.08));
         padding-top: calc(20 / 96 * 100%);
         padding-left: calc(16 / 96 * 100%);
         padding-right: calc(16 / 96 * 100%);

         svg {
             width: 100%;
             height: 100%;
             fill: var(--semantic-fg-disabled, rgba(163, 166, 172, 0.48));
         }
     }

     .avatarImage {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: inherit;
     }

     .avatarInitials {
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;

         text-align: center;
         font-family: "Brown LL";
         font-style: normal;
         color: var(--semantic-fg-primary, #161719);

         background-color: var(--semantic-bg-neutral-inverse, #E6E7E9);
     }

     @each $size-name, $props in $initials-format {
         &.avatarWrapper--#{$size-name} .avatarInitials {
             font-size: map-get($props, font-size);
             font-weight: map-get($props, font-weight);
             line-height: map-get($props, line-height);
             letter-spacing: map-get($props, letter-spacing);
         }
     }

 }