$buttonMode: (
    filled: (bg-color: (default: var(--semantic-bg-neutral, #2C2D30),
            hover: #3E3F42,
            pressed: #494A4D),
        text-color: var(--semantic-fg-neutral-secondary, #E6E7E9)),

    tinted: (bg-color: (default: var(--semantic-bg-neutral-secondary, rgba(44, 45, 48, 0.08)),
            hover: rgba(42, 43, 46, 0.19),
            pressed: rgba(41, 42, 45, 0.23)),
        text-color: var(--comp-button-fg-neutral-secondary, #2C2D30)),

    plain: (bg-color: (default: var(--semantic-bg-transparent, rgba(255, 255, 255, 0.00)),
            hover: rgba(208, 209, 209, 0.20),
            pressed: rgba(186, 186, 187, 0.30)),
        text-color: var(--comp-button-fg-neutral-secondary, #2C2D30)),

    elevated: (bg-color: (default: var(--semantic-bg-secondary, #FFF),
            hover: var(--comp-button-bg-neutral-elevated-hover, #F4F4F4),
            pressed: var(--comp-button-bg-neutral-elevated-pressed, #EAEAEA)),
        text-color: var(--comp-button-fg-neutral-secondary, #2C2D30))
);

$buttonSize: (

    small:abs($number: 0)) .ltButton {
    display: inline-flex;
    /* height: 40px; */
    /* max-width: 272px; */
    /* padding: 8px 20px; */
    /* margin-top: 24px; */
    justify-content: center;
    align-items: center;
    /* gap: 6px; */
    align-self: stretch;
    border-radius: 999px;
    background: var(--semantic-bg-neutral-secondary, rgba(44, 45, 48, 0.08)
    );
border: 0;
}