@import '../fonts.scss';

.headRow {
    display: flex;
    height: 56px;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--semantic-bg-neutral-secondary, rgba(44, 45, 48, 0.08));
}

.headCell {
    display: flex;
    padding: 7px 0 7px 4px;
    align-items: center;
    flex: 1 0 0;
    background-color: transparent;
    color: var(--semantic-fg-primary, var(--semantic-fg-primary, #161719));

    @include applyFont(map-get($labelFont, 'lg'));
}