$labelFont : (sm: (font-family: "Brown LL",
        font-size: 14px,
        font-style: normal,
        font-weight: 500,
        line-height: 18px,
        letter-spacing: -0.5px),

    md:(font-family: "Brown LL",
        font-size: 14px,
        font-style: normal,
        font-weight: 500,
        line-height: 18px,
        letter-spacing: -0.5px),

    lg: (font-family: "Brown LL",
        font-size: 16px,
        font-style: normal,
        font-weight: 500,
        line-height: 20px,
        letter-spacing: -0.5px));