:root {
    --semantic-bg-neutral: #2C2D30;
    --semantic-bg-neutral-secondary: rgba(44, 45, 48, 0.08);
    --semantic-fg-disabled: rgba(163, 166, 172, 0.48);
    --semantic-fg-primary: #161719;
    --semantic-bg-neutral-inverse: #E6E7E9;
    --semantic-fg-neutral-secondary: #E6E7E9;
    --comp-button-fg-neutral-secondary: #2C2D30;
    --semantic-bg-secondary: #FFF;
    --comp-button-bg-neutral-elevated-hover: #F4F4F4;
    --comp-button-bg-neutral-elevated-pressed: #EAEAEA;
    --semantic-fg-inverse: #FCFCFD;
    --semantic-bg-inverse: #161719;
}